@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /*
        / General colors
        */
        --color-primary: #6e85f7;
        --color-secondary: #124d91;
        --color-highlight: #C89933; 

        /*
        / Light mode colors
        */
        --color-bg-light: #E0E0E0;
        --color-text-light: #333333;
        --color-text-secondary-light: #474747;

        /*
        / Dark mode colors
        */
        --color-bg-dark: #141414;
        --color-text-dark: #E0E0E0;
        --color-text-secondary-dark: #CED4DA;
    }

    [class='light']{
        @apply bg-[var(--color-bg-light)] transition-colors duration-1000;
    }

    [class='dark']{
        @apply bg-[var(--color-bg-dark)] transition-colors duration-1000;
    }

    body {
        @apply text-[var(--color-text)] tracking-wide
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-bold
    }
    

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2 {
        @apply text-3xl sm:text-4xl
    }

    li {
        @apply cursor-pointer
    }

    button {
        @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[var(--color-primary-light)] to-[var(--color-secondary-light)] text-white
    }
}